@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	padding: 0;
}

body {
	overflow-x: hidden;
	font-family: 'Inter', sans-serif;
	color: #676c70;
	font-weight: 400;
	font-size: 1.6 rem;
	line-height: 1rem;
	color: #777;
	padding: 1rem;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}
